<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sp_btn_collect0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{297,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{396,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{495,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{594,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{693,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{792,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,0},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{297,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{396,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{495,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{594,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{693,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{792,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,159},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{297,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{396,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{495,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{594,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{693,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{792,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,318},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,477},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,477},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sp_btn_collect0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,159}</string>
				<key>spriteSourceSize</key>
				<string>{99,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,477},{99,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>~1.png</string>
				<key>textureFileName</key>
				<string>~1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
